.h123 {
    text-align: top left;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;

}
h1 {
    font-size: 30px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: rgb(255, 0, 0);

}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(73e4673d74cd221a7b2f3f8a35cf6f52.small_original.jpg)fixed;
    background-size: cover;
}
.cen {
    text-align: center;
    margin-top: 100px;
}
form {
border-bottom: 5px black solid;
border-top: 5px black solid;
border-left: 5px black solid;
border-right: 5px black solid;
} 
.ba {
    background-color: white;
}
.msg {
    height: 100px;
}
div {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
    margin-right: 50px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
}
a:hover {
    color: blue;
}
.re:hover {
    color: red;
}
video {
    margin-top: px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-top: 200px;
    font-size: 15px;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin-top: -5px;
}
.in {
    width: 200px;
    height: 40px;
    background-color: rgb(226, 49, 49);
    color: white;
    border: none;
    margin-top: -10px;
}
.se {
    background-color: white;
    margin-top: 200px;
    padding-top: 200px;
    width: 100%;
padding-left: 200px;
}
img {
    width: 500px; height: 400px;
}
h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: rgb(148, 148, 148);
    font-size: 45px;
    margin-top: -5px;
}
.pv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: -100px;

}
h4 {
    margin-top: -200px;
}